{
   "format": "csv-export",
   "name": "{{ asset_group_name }}-csv-report",
   "scope": {
      "assetGroups": [{{ asset_group_id }}]
   },
   "template" : "basic-vulnerability-check-results",
   "timezone" : "GMT"
}
