{
   "format": "xccdf-xml",
   "name": "{{ site_name }}-centos7-XCCDF-XML",
   "policy": 492,
   "organization": "Acme Organization",
   "scope": {
      "sites": [{{ site_id }}]
   },
   "frequency": {
      "type": "none"
   },
   "timezone": "Asia/Bangkok"
}
