{
  "name": "SSH Public Key credential (permission elevation with sudo)",
  "description": "This is an SSH credential for a non-administrative user using a PEM-format private key. Credential is also configured to elevate permissions using sudo.",
  "enabled": true,
  "account": {
    "service": "ssh-key",
    "username": "{{ ssh-user }}",
    "privateKeyPassword": "",
    "pemKey": "{{ private key }}",
    "permissionElevation": "sudo",
    "permissionElevationUsername": "",
    "permissionElevationPassword": ""
  }
}
